@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

* {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.markdown-body img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 0.12)
}

html .header-nav,
html .footer-nav,
html .markdown-body,
html .toc-menu {
  font-family: source sans pro, sans-serif;
}

html .markdown-body code {
  padding: 0 2px 2px;
  line-height: 1;
  background: #d0ecfb;
  border-radius: 4px
}

html .markdown-body code:before,
html .markdown-body code:after {
  letter-spacing: -.35em;
}

html .markdown-body pre {
  padding: 24px;
  background: #f4f4f4;
  border-radius: 4px;
}

html .markdown-body pre code {
  background: transparent;
}

html .markdown-body {
  max-width: 730px;
}

html .markdown-body a {
  color: #E44B3B;
  font-weight: bold;
}

html .markdown-body {
  line-height: 1.7;
}

html .markdown-body p,
html .markdown-body blockquote,
html .markdown-body pre,
html .markdown-body ol,
html .markdown-body ul {
  margin-bottom: 1.7em;
}

html .markdown-body h2 {
  margin-top: 2em;
}

html .markdown-body h3+p,
html .markdown-body h4+p {
  margin-top: -.9em;
}

html .markdown-body h1,
html .markdown-body h2,
html .markdown-body h3,
html .markdown-body h4 {
  font-family: source sans pro, sans-serif;
  font-weight: 300;
}

html .markdown-body h1 {
  margin-bottom: .6em;
  padding-bottom: .6em;
  border-bottom: solid 1px #eee;
}

html .markdown-body h2 {
  font-size: 2em;
}

html .markdown-body h3 {
  font-size: 1.5em;
}

html .markdown-body h4 {
  font-size: 1.2em;
}

html .page-index .markdown-body h1,
html .markdown-body h1.massive-header,
html .markdown-body h1.massive-header.-with-tagline+blockquote {
  padding-top: 29vh;
  padding-bottom: 29vh;
  border-bottom: 0;
  margin-bottom: .2em;
  font-size: 5em;
  font-family: source sans pro, sans-serif;
  font-weight: 200;
  color: #E44B3B;
  line-height: 1.2;
}

html .markdown-body h1.massive-header sup {
  font-size: 45px;
  color: #d0d0d0;
}

html .markdown-body h1.massive-header.-with-tagline {
  margin-top: 0;
  padding-top: 20vh;
  padding-bottom: 0;
  margin-bottom: 0;
}

html .markdown-body h1.massive-header.-with-tagline+blockquote {
  border-left: 0;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 21vh;
  font-size: 4em;
  color: #ddd;
  padding-right: 10%;
}

html #nprogress .bar {
  background: #333;
}

html #nprogress .peg {
  box-shadow: 0 0 10px #333, 0 0 5px #333;
}

html #nprogress .spinner-icon {
  border-top-color: #333;
  border-left-color: #333;
}

html .header-nav .iconlink:hover,
html .header-nav .iconlink:hover .icon,
html .footer-nav .left a:hover:before,
html .footer-nav .right a:hover:after,
html .footer-nav a:hover .title,
html .menu-toggle .hover {
  color: #E44B3B;
}

html .toc-menu .link,
html .toc-menu .hlink {
  box-shadow: inset -2px rgba(200, 200, 200, 0);
}

html .toc-menu .link.-active,
html .toc-menu .hlink.-active {
  box-shadow: inset -2px 0 #E44B3B;
}

html .markdown-body .pull-box,
html .markdown-body .pull-box-close,
html .markdown-body .pull-box-alert {
  border-top: solid 1px #eee;
  padding-top: 24px;
  margin-top: 4em;
  position: relative;
}

html .markdown-body .pull-box-alert-no-border {
  padding-top: 0;
  margin-top: 0;
  position: relative;
}

html .markdown-body .pull-box:after,
html .markdown-body .pull-box-close:after,
html .markdown-body .pull-box-alert:after,
html .markdown-body .pull-box-alert-no-border:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}

html .markdown-body .pull-box:before,
html .markdown-body .pull-box-close:before,
html .markdown-body .pull-box-alert:before,
html .markdown-body .pull-box-alert-no-border:before {
  display: inline-block;
  font-family: 'Ionicons';
  font-size: 32px;
  font-weight: 400;
  vertical-align: middle;
  margin-right: 16px;
}

html .markdown-body .pull-box:before {
  content: '\f3ff';
  color: #9bc238;
}

html .markdown-body .pull-box-close:before {
  content: '\f406';
  color: #E44B3B;
}

html .markdown-body .pull-box-alert:before,
html .markdown-body .pull-box-alert-no-border:before {
  content: '\f35b';
  color: #FFA500;
}








html .markdown-body .pull-box-alert-no-border:before,
html .markdown-body .pull-box-alert-color-pear:before,
html .markdown-body .pull-box-alert-color-yellow:before,
html .markdown-body .pull-box-alert-color-amber:before,
html .markdown-body .pull-box-alert-color-apricot:before,
html .markdown-body .pull-box-alert-color-peach:before,
html .markdown-body .pull-box-alert-color-lavender:before,
html .markdown-body .pull-box-alert-color-skyblue:before,
html .markdown-body .pull-box-alert-color-palegreen:before,
html .markdown-body .pull-box-alert-color-celadon:before,
html .markdown-body .pull-box-alert-color-silver:before,
html .markdown-body .pull-box-alert-color-yellowgreen:before,
html .markdown-body .pull-box-alert-color-copper:before,
html .markdown-body .pull-box-alert-color-indianred:before,
html .markdown-body .pull-box-alert-color-carmine:before,
html .markdown-body .pull-box-alert-color-rosewood:before,
html .markdown-body .pull-box-alert-color-crimson:before,
html .markdown-body .pull-box-alert-color-purple:before,
html .markdown-body .pull-box-alert-color-ultramarine:before,
html .markdown-body .pull-box-alert-color-sage:before,
html .markdown-body .pull-box-alert-color-mauve:before,
html .markdown-body .pull-box-alert-color-olive:before,
html .markdown-body .pull-box-alert-color-gold:before,
html .markdown-body .pull-box-alert-color-goldenrod:before,
html .markdown-body .pull-box-alert-color-orange:before,
html .markdown-body .pull-box-alert-color-red:before,
html .markdown-body .pull-box-alert-color-cerise:before,
html .markdown-body .pull-box-alert-color-ruby:before,
html .markdown-body .pull-box-alert-color-violet:before,
html .markdown-body .pull-box-alert-color-fuchia:before,
html .markdown-body .pull-box-alert-color-amethyst:before,
html .markdown-body .pull-box-alert-color-mint:before,
html .markdown-body .pull-box-alert-color-blue:before,
html .markdown-body .pull-box-alert-color-applegreen:before,
html .markdown-body .pull-box-alert-color-green:before,
html .markdown-body .pull-box-alert-color-taupe:before {
  display: inline-block;
  font-family: 'Ionicons';
  font-size: 49px;
  font-weight: 400;
  vertical-align: middle;
  margin-right: 16px;
  line-height: 1;
  width: 50px;
  height: 50px;
  content: '';
  border-radius: 50px;
}

html .markdown-body .pull-box-alert-no-border:before {
  line-height: 0.3
}

html .markdown-body .pull-box-alert-color-pear:before {
   background-color: #eeff88
}

html .markdown-body .pull-box-alert-color-yellow:before {
   background-color: #fff301
}

html .markdown-body .pull-box-alert-color-amber:before {
   background-color: #fed672
}

html .markdown-body .pull-box-alert-color-apricot:before {
   background-color: #ffb469
}

html .markdown-body .pull-box-alert-color-peach:before {
   background-color: #fcae9e
}

html .markdown-body .pull-box-alert-color-lavender:before {
   background-color: #c9abff
}

html .markdown-body .pull-box-alert-color-skyblue:before {
   background-color: #96b9ff
}

html .markdown-body .pull-box-alert-color-palegreen:before {
   background-color: #a7fb93
}

html .markdown-body .pull-box-alert-color-celadon:before {
   background-color: #7cb696
}

html .markdown-body .pull-box-alert-color-silver:before {
   background-color: #c1c1c9
}

html .markdown-body .pull-box-alert-color-yellowgreen:before {
   background-color: #93b000
}

html .markdown-body .pull-box-alert-color-copper:before {
   background-color: #cf610f
}

html .markdown-body .pull-box-alert-color-indianred:before {
   background-color: #dc4b40
}

html .markdown-body .pull-box-alert-color-carmine:before {
   background-color: #b0000d
}

html .markdown-body .pull-box-alert-color-rosewood:before {
   background-color: #87384f
}

html .markdown-body .pull-box-alert-color-crimson:before {
   background-color: #b4004d
}

html .markdown-body .pull-box-alert-color-purple:before {
   background-color: #6d1bb2
}

html .markdown-body .pull-box-alert-color-ultramarine:before {
   background-color: #3115fc
}

html .markdown-body .pull-box-alert-color-sage:before {
   background-color: #899b8a
}

html .markdown-body .pull-box-alert-color-mauve:before {
   background-color: #8277a1
}

html .markdown-body .pull-box-alert-color-olive:before {
   background-color: #a3a321
}

html .markdown-body .pull-box-alert-color-gold:before {
   background-color: #c6a25b
}

html .markdown-body .pull-box-alert-color-goldenrod:before {
   background-color: #f5ab09
}

html .markdown-body .pull-box-alert-color-orange:before {
   background-color: #ff970d
}

html .markdown-body .pull-box-alert-color-red:before {
   background-color: #fa0000
}

html .markdown-body .pull-box-alert-color-cerise:before {
   background-color: #ff6dc4
}

html .markdown-body .pull-box-alert-color-ruby:before {
   background-color: #dd196d
}

html .markdown-body .pull-box-alert-color-violet:before {
   background-color: #c562ff
}

html .markdown-body .pull-box-alert-color-fuchia:before {
   background-color: #e535ff
}

html .markdown-body .pull-box-alert-color-amethyst:before {
   background-color: #a97dff
}

html .markdown-body .pull-box-alert-color-mint:before {
   background-color: #3adbbe
}

html .markdown-body .pull-box-alert-color-blue:before {
   background-color: #2d9cff
}

html .markdown-body .pull-box-alert-color-applegreen:before {
   background-color: #63d516
}

html .markdown-body .pull-box-alert-color-green:before {
   background-color: #4aac13
}

html .markdown-body .pull-box-alert-color-taupe:before {
   background-color: #a68c98
}


html .markdown-body .pull-box a {
  border: solid 1px #88aa31;
  border-radius: 4px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: .05em;
  margin-left: 16px;
  background: #9bc238;
  color: white;
}

html .markdown-body .pull-box a:hover {
  text-decoration: none;
  background: #88aa31;
  color: white;
}

@media (min-width:960px) {
  html .markdown-body .pull-box,
  html .markdown-body .pull-box-close,
  html .markdown-body .pull-box-alert,
  html .markdown-body .pull-box-alert-no-border {
    padding-right: 100px;
    padding-left: 48px;
  }

  html .markdown-body .pull-box:before,
  html .markdown-body .pull-box-close:before,
  html .markdown-body .pull-box-alert:before,
  html .markdown-body .pull-box-alert-no-border:before {
    position: absolute;
    top: 11px;
    left: 0;
  }

  html .markdown-body .pull-box a {
    position: absolute;
    right: 0;
    top: 20px;
  }

}

html .markdown-body .file-heading {
  font-weight: 700;
  font-size: .95em;
  padding-bottom: 16px;
  margin-bottom: 0;
  overflow: hidden;
  height: 1.3em;
  box-sizing: content-box;
  white-space: nowrap;
}

html .markdown-body .file-heading code {
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

html .markdown-body .file-heading code:before,
html .markdown-body .file-heading code:after {
  display: none;
}

html .markdown-body .file-heading+pre {
  margin-top: 0;
}

html .markdown-body .file-heading:before {
  display: inline-block;
  vertical-align: middle;
  content: "\f12f";
  font-family: Ionicons;
  font-weight: normal;
  font-size: 167x;
  width: 18px;
  color: #999;
  margin-top: -1px;
}

table.no-head thead {
  display: none;
}

@media (min-width:1280px) {
  html .markdown-body .wide {
    width: 900px;
    margin-left: -100px;
    margin-top: 2.7em;
    margin-bottom: 2.7em;
  }

  html .markdown-body.markdown-body {
    table,
    tr,
    td,
    th,
    thead,
    tbody {
      border: 0;
      background: transparent;
    }

    table {
      border: solid 2px #eee;
    }

    th {
      font-weight: normal;
      font-size: 0.9em;
      color: #888;
    }

    * + td,
    * + th {
      padding-left: 24px;
    }

    th,
    td {
      text-align: left;
      border-left: 0;
      border-right: 0;
      border-bottom: solid 1px #eee;
      vertical-align: top;
    }

  }
